//Mis modificaciones css se debe importar a app.scss.

section.Habitaciones{
  div.imagen{
    position: relative;
    div.titulo{
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: rem-calc(20);
      h3{
        color: white;
      }
    }
  }
  div .contenido{
    background-color: white;
    padding: rem-calc(20);
  }
}

.Imagen-Separador{
height: 200px;
background-repeat: no-repeat;
background-position: center;
background-attachment: scroll;
@include breakpoint(large){
background-size: cover;
height: 350px;
}

}

.Imagen-Piscina{
  background-image: url(../assets/imagenes/separadores/small/separator01-image.jpg);
  @include breakpoint(medium){
    background-image: url(../assets/imagenes/separadores/medium/separator01-image.jpg);
  }
  @include breakpoint(large){
background-image: url(../assets/imagenes/separadores/large/separator01-image.jpg);
  }
}
.Imagen-Comedor{
  background-image: url(../assets/imagenes/separadores/small/separator02-image.jpg);
  @include breakpoint(medium){
    background-image: url(../assets/imagenes/separadores/medium/separator02-image.jpg);
  }
  @include breakpoint(large){
background-image: url(../assets/imagenes/separadores/large/separator02-image.jpg);
  }
}


section.Galeria-Sobre-Nosotros{
@include breakpoint(medium){
  height: rem-calc(560);
position: relative;
  }
  @include breakpoint(large){
    height: rem-calc(420);
  }
}
.vacio{
  @include breakpoint(medium){
    height: rem-calc(560);

    }
    @include breakpoint(large){
      height: rem-calc(420);
    }
}
.Contenido-Galeria-Sobre-Nosotros{
  @include breakpoint(medium){
    position: absolute;
    top:rem-calc(20);
    left: 0;
    width: 100%;
  }
}


.azul{
  background-color: rgb(90, 103, 149);
}
.Reserva{
  padding-top: rem-calc(50);
}
footer{
  padding-top: rem-calc(40);
  background-color: rgb(90, 103, 149);
  color: white;
  .menu{
    a{
      color: white;
    }
  }
}

.Informacion-Contacto{
  li{
    position: relative;
    padding-left: rem-calc(60);
    height: 80px;
    padding-top: rem-calc(10);
    i{
      position: absolute;
      font-size: rem-calc(30);
      top: 0;
      left: 0;

    }
  }
}
.social{
  i{
    font-size: rem-calc(40);
    padding-right: rem-calc(25);
  }
}

div.copyright{
  background-color: darken(rgb(90, 103, 149), 10);
  padding-top: rem-calc(10);
}
