//Mis modificaciones css se debe importar a app.scss.

section.Habitaciones{
  div.imagen{
    position: relative;
    div.titulo{
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: rem-calc(20);
      h3{
        color: white;
      }
    }
  }
  div .contenido{
    background-color: white;
    padding: rem-calc(20);
  }
}

.Imagen-Separador{
height: 200px;
background-repeat: no-repeat;
background-position: center;
background-attachment: scroll;
@include breakpoint(large){
background-size: cover;
height: 350px;
}

}

.Imagen-Piscina{
  background-image: url(../assets/imagenes/separadores/small/separator01-image.jpg);
  @include breakpoint(medium){
    background-image: url(../assets/imagenes/separadores/medium/separator01-image.jpg);
  }
  @include breakpoint(large){
background-image: url(../assets/imagenes/separadores/large/separator01-image.jpg);
  }

}
